body{
	margin:0;
}
p{
	margin:0;
}
a{
	text-decoration: none;
}

#navgora{
height:1.13cm;
background-color:#fef7f7 ;
width:100%;

margin:0 ;
}

.contphone{
	display:flex
}

.navgp{
display: flex;
flex-wrap: nowrap;
	color:000000;
	margin:auto;
	font-family: 'Roboto', Regular;
     float:left;
	font-size: 12px;
	position:relative;
	
}

#navgp2{
	display: flex;
flex-wrap: nowrap;
	color:000000;
	margin-left: 13em;
	margin-top:1em;
	font-family: 'Roboto', Regular;
	font-size: 11px;
	float: right;
	margin-right:20px;
	position: relative;
}
#navgp2e{
	display: flex;
flex-wrap: nowrap;
display: inline;
padding-right:10px;
padding-left:10px;
position: relative;
}
#linie{
	display: inline-flex;
	color:#777777;
}


.silonh{
	
}

#silon{

	font-family: 'Roboto',Regular ;
	font-weight: bold;
}
#kropka{
	color:red;
}

.silonnm{
	margin-left:20px;
}
.nav{
	display: inline;

}

li{
	display:inline;
	color:000000;
	font-family: 'Roboto', Regular;
}
.containerbg {
  max-width: 1920px;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-justify-content: center;
  /* Safari */
  justify-content: center;
  background-image:  url("./images/bg-1.jpg")

}

.h2{
	margin:0;
	flex-grow:1;
}
#uc{
color:grey;
font-family: 'Roboto', Regular;
font-size: 15px;
text-align:center;
padding-top:10px;
text-transform: uppercase;
letter-spacing: 2px;
}

h2{
	text-align:center;
	font-family: 'Roboto', Regular;
}
.h2-btn{
	margin-left: 135px;
}
.bgban{


}
#imgbg {
  width: 100%;
  height: auto;
  display: block;
  position:absolute;

}
#ban1{
	position:relative;
	height: 550px;
	float:left;
	/*padding-left: 600px;*/
}
