body{
	margin:0;
	padding:0;
}
/*p{
	margin:0;
}*/

a{
	text-decoration: none;
}
@media only screen and (max-width: 1000px) {
.nav{
	  	display: none;

};}
@media only screen and (max-width: 1000px) {
.silon{
	  	visibility: :none;

};}
@media only screen and (max-width: 1000px) {
#kropka{
	  	visibility: :none;

};}

.contphone{
	display:flex
}


.dm{
	display: none;
	
}
@media only screen and (max-width: 1000px) {

	  .dm{
	display:block;
	left:20px;
	position:fixed;
	float:right;
	
	
};

}

.navgp{
display: flex;
flex-wrap: nowrap;
	color:000000;
	margin:auto;
	font-family: 'Roboto', Regular;
     float:left;
	font-size: 12px;
	position:relative;
	
}

#navgp2{
	display: flex;
flex-wrap: nowrap;
	color:000000;
	margin-left: 13em;
	margin-top:1em;
	font-family: 'Roboto', Regular;
	font-size: 11px;
	float: right;
	margin-right:20px;
	position: relative;
}
#navgp2e{
	display: flex;
flex-wrap: nowrap;
display: inline;
padding-right:10px;
padding-left:10px;
position: relative;
}
#linie{
	display: inline-flex;
	color:#777777;
}  

/*tu sie zaczyna kod gora do poprawy
gorne menu napis silon i ikonki*/
.contmenu{
display:flex;
flex-direction: row;
max-width:1920px;
margin-top:20px;
}

.nav{
	
	flex-grow:1;

}
@media only screen and (max-width: 1000px){
#gora_prst{
position:fixed;
background-color: #ff5050;
margin-top:0px;
height:70px;
width:100%;


	};}



}



@media only screen and (max-width: 1000px) {
#kropka{
	visibility: hidden;
};}

.silon{
	margin-left: 152px;
	font-family: 'Roboto',Regular ;
	font-weight: bold;
	display: inline;
	padding-bottom:45px;
	z-index: 5;
}
#kropka{
	color:red;}

 ul{

 	margin-top:30px;
 }



.menu-gora{
	  
	  
	padding:5px 5px 5px 5px ;
	margin-top:30px;
	 margin-right: 20px;
	display:inline;
	color:000000;
	font-family: 'Roboto', Regular;
	font-size: 15px;
	background-color: white;
	border-radius: 10px;
	border-width: 20px;
	
	
	 
}
	
 .menu-gora:hover
 {
 	
animation-play-state: running;
animation: example 1s infinite ease-in;
 	background-color: #f92222;
 	border-radius: 10px;
 	border-width: 20px;
 	
 }
 @keyframes example {
  0% {
  		font-size: 15px;
		filter: grayscale(.0.25);
		
	}
	40% {
		
		filter: grayscale(.2);
		
	}
	100% {
		font-size: 17px;
		filter: grayscale(0);

	}
}
.gly{
	font-size: 20px;
	margin-top:22px;
	margin-left:18px;
}

 .nad-glyph{
 	display:inline-block;
 	position: relative;
 	background-color:red;
 	border-radius:50px;
 	height:20px; 
 	width:20px;
 	margin-bottom: 20px;
 }

 .spn-glyph{
color:white;
padding-bottom: 3px;
padding-left: 6px;
position: relative;

 }
/*część z rozowym tlem i przyciskiem do sklepu */


.containerbg {
  max-width: 1920px;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-justify-content: center;
  /* Safari */
  justify-content: center;
  background-image:  url("./images/bg-1.jpg");}


@media only screen and (max-width: 1000px) {
.txt-lewo{
	
	flex-grow:1;
};}

.txt-cont{
  flex-direction: column;
  justify-content:center;


}
@media only screen and (max-width: 1000px) {
#uc{
color:grey;
font-family: 'Roboto', Regular;
font-size: 15px;
text-align:center;
margin-top:190px;
text-transform: uppercase;
letter-spacing: 2px;
position:absolute;
};}

#uc{
color:grey;
font-family: 'Roboto', Regular;
font-size: 15px;
text-align:center;
margin-top:-50px;
margin-right: 60px;
text-transform: uppercase;
letter-spacing: 2px;
position:absolute;
}

h2{

	margin-bottom: 20px;
	text-align:center;
	font-family: 'Roboto', Regular;
}
@media only screen and (max-width: 1000px) {
.btn-h2{
	margin-right:120px;
	position: absolute;
};}
.btn-h2{
	margin-left: 75px;
}
@media only screen and (max-width: 1000px) {
#ban1{
	visibility: hidden;
	position:relative;
	
};


}

#ban1{
	position:relative;
	height: 550px;
    margin:0;
	float:right;
	
}

/*panie prezentuja produkty*/
h3{
margin-top: 125px;
	text-align:center;
	font-family: 'Roboto', Regular;

}


.cont-tlo{
display: flex;
justify-content: center;
flex-direction: row;
}  

.panie{
	display: inline-flex;
	
}



.d-kolo  /*okrag bez wypelnienia*/
{
	display: none;
	flex-grow: :1;
 	border-color: red;
 	border:2px solid;
 	border-radius:50px;
 	height:50px; 
 	width:50px;
 	z-index:99;
 	margin-right:20px;
 	margin-top:360px;
 	background-color:white; 
 	position: relative;
 	transition: background-color 2s ;		
}
.d-kolo:hover{
	
	background-color:red; 
}

.lupa{
	position: relative;
	right:280px;
	
}
.serce{
	position: relative;
	right:280px;

}

.koszyk{
	position: relative;
    right:280px;

}
.d-kolo-wew{
position: relative;	
text-align: center;
top:20px;
left:13px;
}
.cont-ceny{
	display:flex;
	justify-content: center;
flex-direction: row;
}

/*ceny*/
.pani1-cena{
		flex-grow:1;
	
}

#panie-txt-span{
	bottom:20px;
	left:130px;
	font-family: 'Roboto', Regular;
	font-size:17px;
	color:grey;
	position: relative;
}
.star{
top:-20px;
/*left:150px;*/
left:33%;
position: relative;
color:red;

}
.cena{
	bottom:20px;
	left:185px;
	position: relative;
}

/*panie zaprezentowaly produkty*/

.cont-baner2{
	background-color:#eae2d9;
	display:flex; 
	flex-direction: row;
	justify-content:flex-end;
}
.df{
	flex-grow:1;
}
h4{
font-family:'Handlee' , Regular ;
font-size:80px;
}
.ban2-napisy{
position: relative;
top:200px;
font-family:'Roboto' , Regular ;
text-indent: 2px;
font-size: 20px;
text-align: center;
}


.ban2-obrazek{
}

/*moze byc troche lepiej pania na prawo bardziej igradient na tle ew
ale tu jest koniec dzialu*/


/*poczatek karuzeli*/
h5{
text-align: center;
font-family:'Roboto' , Regular ;
font-size:40px;
margin-bottom:40px;
}

.prod{
	width:230px;
	height:420px;
position:relative;
	
}
	
#karuzela{
width:1000px;
height: 450px;
margin-left: 200px;


}
.car-gwiazdy {


}

.car-txt-span
{
margin:50px;
bottom:20px;
left:130px;
font-family: 'Roboto', Regular;
font-size:15px;
color:grey;

}
.car-cena{
position:absolute;
right:45%;
}
.cena{
	left:185px;
	position: relative;
}
/*koniec karuzeli*/

/*poczatek ikonek*/
.ikonki{
	margin-top:100px;
display:inline-block;
margin-bottom: 200px;

}
.wor{
	width:230px;
	height:150px;
	position:relative;
	display:inline-block;
	border:2px grey solid;
	background-repeat: no-repeat;
	background-image:url("images/feature-icons/1.png");
	background-position: center;
	margin-left:200px;


}

.woz{
	margin-left: 20px;
	width:230px;
	height:150px;
	position:relative;
	display:inline-block;
	border:2px grey solid;
	background-repeat: no-repeat;
	background-image:url("images/feature-icons/2.png");
	background-position: center;

}

.sluchawki{
	margin-left: 20px;
	width:230px;
	height:150px;
	position:relative;
	display:inline-block;
	border:2px grey solid;
	background-repeat: no-repeat;
	background-image:url("./images/feature-icons/3.png");
	background-position: center;

}
.tarcza{
	margin-left: 20px;
	width:230px;
	height:150px;
	position:relative;
	display:inline-block;
	border:2px grey solid;
	background-repeat: no-repeat;
	background-image:url("images/feature-icons/4.png");
	background-position: center;

}
.wor-tekst{
	position: relative;
	margin-top:100px;
	margin-left:15px;
	font-family:'Roboto' , Regular ;
	text-align: center;
}

.woz-tekst{
	position: relative;
	margin-top:100px;
	margin-left:15px;
	font-family:'Roboto' , Regular ;
	text-align: center;
}

.sluchawki-tekst{
	position: relative;
	margin-top:100px;
	margin-left:15px;
	font-family:'Roboto' , Regular ;
	text-align: center;
}
.tarcza-tekst{
	position: relative;
	margin-top:100px;
	margin-left:15px;
	font-family:'Roboto' , Regular ;
	text-align: center;
}
.ikonki-dolny-tekst{
	color:grey;

}
.pani2-cont{
	display: inline-flex;
	/*flex-grow: 1;*/
}

.panie2{
	width:230px;
	height:300px;
	margin-left:200px;
	background-image: url("images/products/8.jpg");

}


.panie3{
	width:230px;
	height:300px;
	margin-left:20px;
	background-image: url("images/products/9.jpg");
}

.panie4{
	width:230px;
	height:300px;
	margin-left:20px;
	background-image: url("images/products/10.jpg");
}
.panie5{
	width:230px;
	height:300px;
	margin-left:20px;
	background-image: url("images/products/11.jpg");
}

#pani21{
margin-left:0px;

}
.pani3-cont{
display: inline-flex;	
}
.panie6{
	width:230px;
	height:300px;
	/*margin-left:200px;*/
	background-image: url("images/products/12.jpg");
}
.panie7{
	width:230px;
	height:300px;
	margin-left:20px;
	background-image: url("images/products/13.jpg");
}
.panie8{
	width:230px;
	height:300px;
	margin-left:20px;
	background-image: url("images/products/14.jpg");
}
.panie9{
	width:230px;
	height:300px;
	margin-left:20px;
	background-image: url("images/products/15.jpg");
}
.pani2-cont-cena{
	margin-left:200px;
	margin-right:165px;
position: relative;

}
.pani2-cena{
	position: relative;
	width:230px;
	height:70px;
	
	display: inline-block;
	margin-left:16px;

}

.p2-gwiazdy{
	position: absolute;
	bottom:8px;
	left:10%;
	display:block;
	
}
.p2-gwiazdy i{
	
	
}
.panie2-txt-p{
	position:absolute;
	
	font-family:'Roboto' , Regular ;
	margin-left:18%;
	color:grey;
}
.pani2-cena-dol{
position: absolute;
	left:40%;
	bottom:10%;
	display: inline-block;
}
/*koniec pan
Silon journal*/
h6{
text-align: center;
font-family:'Roboto' , Regular ;
font-size:40px;
margin-top:60px;
margin-bottom:25px;
}
/*
.post1 {

	font-family:'Roboto' , Regular ;
font-size:1px;
	color: #123456;
	display:inline-block;
	width:350px;
	height:350px;
	margin-left:100px;
	background-image: url("images/post/1.jpg");
	background-repeat: none;
	transform: scale(0.85,0.85);

}
.post2{
	display:inline-block;
	font-family:'Roboto' , Regular ;
	font-size:1px;
	color: #123456;
	width:350px;
	height:350px;
	background-image: url("images/post/2.jpg");
	transform: scale(0.85,0.85);
}
.post3{
	display:inline-block;
	font-family:'Roboto' , Regular ;
	font-size:1px;
	color: #123456;
	width:350px;
	height:350px;
	background-image: url("images/post/3.jpg");
	transform: scale(0.85,0.85);
}

*/

.pzp{
	margin-left:120px;
}
#p1zp {
	width:350px;
	height: 350px;
	margin-left:51px;
	position: relative;
	display: inline-block;
background-image: url("images/post/1.jpg");
}

#p2zp {
	width:350px;
	height: 350px;
	margin-left:31px;
	position: relative;
	display: inline-block;
background-image: url("images/post/2.jpg");
}


#p3zp {
		display: inline-block;
		width:350px;
		height: 350px;
		margin-left:31px;
		position: relative;
background-image: url("images/post/3.jpg");	
}
#p1zpnap{
	/*display:inline-block;
	position:relative;*/
}
#cblok{
	
	border: 10px solid  #ff5050;
	border-width:2px;
	border-radius: 2px;
	left:-20px;
	top:25px;
	position: relative;
}
#datap1 span{
	display:block;
	font-family:'Roboto' , Regular ;
	font-size:20px;
	color: #b8b894;
	position: relative;
	left:300px;
}
#poddata1 span{
		display:inline;
	font-family:'Roboto' , Regular ;
	font-size:24px;
	color: black;
	left:170px;
	
	position: relative;
	}
	/*#p2zpnap{
		bottom:90px;
		position: relative;
	}

#cblok2{
	display:inline;
	border: solid  #ff5050;
	border-width:2px;
	border-radius: 2px;
	left:-20px;
	top:25px;
	position: relative;
}*/
#datap2{
	display:block;
	font-family:'Roboto' , Regular ;
	font-size:20px;
	color: #b8b894;
	position: relative;
	left:660px;
	bottom:95px;}

	#poddata2 span{
		display:block;
	font-family:'Roboto' , Regular ;
	font-size:24px;
	color: black;
	left:570px;
	bottom:90px;
	position: relative;
	}
	
	/*
#cblok3{
	display:inline;
	border: solid  #ff5050;
	border-width:2px;
	border-radius: 2px;
	left:-20px;
	top:25px;
	position: relative;
}*/
#datap3 {
	display:inline-block;
	font-family:'Roboto' , Regular ;
	font-size:20px;
	color: #b8b894;
	position: relative;
	left:1100px;
	bottom:185px;
}

	#poddata3 span{
		display:inline-block;
	font-family:'Roboto' , Regular ;
	font-size:24px;
	color: black;
	left:975px;
	bottom:185px;
	position: relative;
	}

#fh6{
	position: relative;
	bottom:130px;
	font-family:'Roboto' , Regular ;
	font-size:24px;
	color: black;
}

/*blad to nie footer*/
#fukw1
{
	font-family:'Roboto' , Regular ;
	font-size:24px;
	color:black;
	text-align: center;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color:grey;
	background-image: url("images/logo/face.png");
	background-size: cover;
	left:185px;
	right: 50px;
	position:relative;
	
}
#fukw2
{
	font-family:'Roboto' , Regular ;
	font-size:24px;
	color:black;
	text-align: center;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: white;
	border-radius: 10px;
	left:185px;
	right: 50px;
	position:relative;

	background-image: url("images/logo/instatr.png");
	background-size: cover;
}
#fukw3
{
	font-family:'Roboto' , Regular ;
	font-size:25px;
	color:black;
	text-align: center;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: white;
	left:185px;
	right: 50px;
	position:relative;
	border-radius: 10px;
	background-image: url("images/logo/tindertr.png");
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: center;
}	
#fukw4
{
	font-family:'Roboto' , Regular ;
	font-size:25px;
	color:black;
	text-align: center;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: white;
	left:185px;
	right: 50px;
	position:relative;
	border-radius: 10px;
	background-image: url("images/logo/twit-tr.png");
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: center;
}